{% extends 'base.html' %}
{% block content %}
<div class="container jumbotron" background-color="black">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <img src="./static/photos/nature.jpeg" class="cover" width="100%"/>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">  
         <div class="col-md-2"></div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>the whole world is africa</h4>
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <i>By his deeds shall a man be known</i>
            </div>
            <div class="panel-footer">
                <i>bryanjuma</i>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <i>coz it feels like total destruction the only solution </i>
            </div>
            <div class="panel-footer">
                <i> alampulo</i>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <i>give them an inch they take a yard ,give them a yard they take a mile</i>
            </div>
            <div class="panel-footer">
                <i>Once a man n twice a child n everytin is juz for a while </i>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
    </div>
    <div class="footer" style="background-color:black; color:aliceblue; font-size:20px;">
            <div class="row" style="padding-top:5%">
                    <div class="col-md-2 col-lg-2"></div>
                    <div class="col-md-4 col-lg-4">
                        <p>&copy; Copyright 2018 <a href="Alampulo@github.com">BRYAN JUMA</a></p>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <p>Contact me at: <a href="mailto:jumabryan10@gmail.com">My Email</a></p>

                    </div>
                    <div class="col-md-2 col-lg-2"></div>
                    <p>Phone Number: 0701323172</p>
                </div>
            </div>

{% endblock %}
